#bulb {
    width: 500px;
    height: 300px;
}

.header {
    background-color: #1F2937;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
}

.logo {
    display: flex;

}